<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <div class ="center-nav">
          <ul>
            <li><a href="index.html">Work</a></li>
            <h3>Calico Melton</h3>
            <li><a id ="about" href="">About</a></li>
          </ul>
        </div>
    </nav>
  </div>

  <article class="info">
    <div class ="center-nav">
      <ul>
        <p>I am an illustrator and surface pattern designer with four years experience working in house for home, gift and seasonal product, producing original print designs for many popular high street retailers, including Liberty London, John Lewis, Fortnum and Mason, Tesco, Sainsburys. Proven experience in both Junior and Adult style print design.
I work in a hand drawn style and create commercial yet quirky characters and patterns. I am as happy with a pencil as a wacom and work in photoshop and Illustrator.</p>
          <li><a id ="close" href="">Close</a></li>
        </ul>
  </article>

</header>
