<section class="projects">

  <article class="home-project">
    <img src="img/imagehome1.jpg" alt="" />
    <article class="project-info">
      <h2>Geos</h2>
    </article>
  </article>


  <article class="home-project">
    <img src="img/imagehome1.jpg" alt="" />
    <article class="project-info">
      <h2>Geos</h2>
    </article>
  </article>

  <article class="home-project">
    <img src="img/imagehome1.jpg" alt="" />
    <article class="project-info">
      <h2>Geos</h2>
    </article>
  </article>

  <article class="home-project">
    <img src="img/imagehome1.jpg" alt="" />
    <article class="project-info">
      <h2>Geos</h2>
    </article>
  </article>



</section>
