/**
 * Reset some basic elements
 */

@import "bourbon/bourbon";
@import "neat/neat";
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */

 h1{
   font-family: $header-font;
   font-size: 60px;
   line-height: 45px;
   text-align: center;
   color: $text-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
   -moz-font-feature-settings: "kern" 1;
   -o-font-feature-settings: "kern" 1;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
 }
 h3{
   font-family: $header-font;
   font-size: 20px;
   margin-left: 30px;
   margin-right: 30px;
   text-align: center;
   color: $text-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
   -moz-font-feature-settings: "kern" 1;
   -o-font-feature-settings: "kern" 1;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: inline;
 }

 p, h2{
   font-family: $body-font;
   color: $text-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
   -moz-font-feature-settings: "kern" 1;
   -o-font-feature-settings: "kern" 1;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
 }



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}




/**
 * Lists
 */
ul, ol {
    margin-left: 0px;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ul{
  padding-top: 10px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

li{
  display: inline;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


/**
 * Links
 */

 ul a{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    font-family: $body-font;
    padding: 0;
    margin: 0;
    -webkit-transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1), border-bottom 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1), border-bottom 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1), border-bottom 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1), border-bottom 500ms cubic-bezier(0.19, 1, 0.22, 1);
    color: inherit;
    text-decoration: none;
    padding-bottom: 0;

    &:hover {
        color: $highlight-color;
    }

  }



/**
 * Wrapper
 */
.wrapper {
    @include outer-container;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
