@import "bourbon/bourbon";
@import "neat/neat";
$debug: true;
$visual-grid: true;
$max-width: 1080px;

.site-header {
    min-height: 60px;
    background: #ffffff;
    width: 100%;
    z-index: 100000;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-carousel{
    z-index: 1;
    padding: 0;
    margin: 0;
    position: relative;

     div img{
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
}

.title-home{
  @include centerer;
  background-color: rgba(255, 255, 255, 0.9);;
  z-index: 1000;
  width: 60%;
  height: auto;
  padding: 50px;
}

.howtouse{
  @include outer-container;
  height: 200px;
  padding: 10px;
  background-color: #0EC6D9;
  h2{
    color: white;
    text-align: center;
  }
  h4{
    color: white;
    text-align: center;
  }

}

.projects{
  @include outer-container;
  padding-top: 20px;

  .home-project{
    position: relative;
    @include span-columns(3);
    height: 300px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
  }

  // // .project-info{
  // //     opacity: 0;
  // // }
  // //
  // // .home-project:hover{
  // //
  // //   .project-info{
  // //     @include centerer;
  // //     z-index: 10000;
  // //     width: 100%;
  // //     background-color: white;
  // //     opacity: 1;
  // //     height: 90px;
  // //     transition: opacity .25s ease-in-out;
  // //    -moz-transition: opacity .25s ease-in-out;
  // //    -webkit-transition: opacity .25s ease-in-out;
  // //   }
  //
  // }

  img{
    height: 100%;
  }

}

.key-projects{
  @include outer-container;

  .key-home-project{
    position: relative;
    @include span-columns(6);
    height: 200px;
    cursor: pointer;
    background-color: red;
  }

  img{
    height: 100%;
  }

}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    position: relative;
    line-height: 56px;
    top: 10%;
}

.center-nav{
  @include centerer;
  padding-top: 60px;
}

.info{
  width: 100%;
  height: 100vh;
  top:-1000px;
  position:absolute;
  background-color: rgb(149, 165, 166);
  z-index: 100000;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col {
  @include outer-container;
}

.footer-col-1 {
  @include span-columns(10);
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}
